---
layout: default
---

<article class="post">
  {% if page.feat_img %}
    <img src="{{ page.feat_img }}" alt="">
    {% if page.feat_img_caption %}
      <small class="feat-cap">{{ page.feat_img_caption }}</small>
    {% endif %}
  {% endif %}


  <h1 class="post-title">{{ page.title }}</h1>
  <h2 class="post-subtitle">{{ page.subtitle }}</h2>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date_to_string }}</time>

  {{ content }}
</article>

{% if site.related_posts != empty %}
<aside class="related">
  <h3>Related posts</h3>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
          <small><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time></small>
        </a>
      </li>
    {% endfor %}
  </ul>
</aside>
{% endif %}
